html{
    font-size: 62.5%;
}
body{
    padding: 0;
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.contenedor-tabla{
    border: 0.2em, solid, rgb(50, 44, 215);
    padding: 0.2em;
    overflow: scroll;
}

.tabla-alumnos{
    width: 100%;
    border-collapse: collapse;
    font-size:2em ;
    min-width:40em ;

   
}

.tabla-alumnos th,td{
    border: 0.2em, solid, rgb(0, 6, 128);
    text-align: center;
    padding:0.2em;
}

.tabla-alumnos th{
    background-color: rgb(50, 81, 204);
    color:white;
}

.tabla-alumnos tr:hover{
    background-color: rgb(95, 122, 200);
}
.tabla-alumnos tr:nth-child(even){
    /*Esta pseudoclase selecciona todos los elementos de la tabla alumno pero solo los pares por el even*/
    background-color: rgb(102, 143, 173);
}