html{
    font-size: 62.5%;
}
body{
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}  

.contenedor-flotante{
    padding: 0;
    border: 0.3em solid rgb(231, 17, 156);
}

.contenedor-flotante img{
    width: 20%;
    height: 10%;
    float: right;
}

.contenedor-flotante p{
    font-family: Georgia;
    text-align: justify;
    font-size: 1.5em;
}

/*Consultas de medios o medias queries:
Sirven para definir estilos a elementos HTML según el tamaño de la la pantalla del dispositivo usado, gracias a esto, se nos proporciona una herramienta para la creación
de diseños web responsivos y adaptables*/

@media screen and(min-width:600px){
   .contenedor-flotante p{
        font-size: 5em;
        font-family:Arial, Helvetica, sans-serif;
        font-weight: 700;
   }
}