html{
    font-size: 62.5%;
}
body{
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: linear-gradient(to top, rgb(211, 189, 211), white );
}

.seccion-productos{
    display: flex;
    gap:1em;
    padding: 0.5em;
    justify-content: space-between;
}
.producto{
    border: 0.2em solid rgb(43, 36, 43);
    box-shadow: 0.2em 0.2em 0.2em rgb(73, 64, 78);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.producto img{
    width: 100%;
    height: 50%;
    object-fit: fill;
    box-shadow: 0.2em 0.2em 0.2em black;
}