#encabezado{
    color:white;
    background-color: black;
}

.fondo--imagen{
    /*Background-image: Permite agregar las imagenes como fondo de un contenedor o elemento HTML, también se pueden agregar gradientes*/
    background-image: url(../imagenes/casasola.jpg), radial-gradient(ellipse,rgba(227, 73, 227, 0.358) , rgba(91, 151, 200, 0.434));
    height: 500px;
    width: 1500px;
    /*Bacground-size (cover, contain y width(px)-height(px)
    Va a especificar el tamaño de la imagen de fondo
    */
    background-size:contain;
    /*background-repeat(repeat, repeat-x,repeat-y, y no repeat
    Se aplica cuando la imagen es más pequeña que el contenedor*/   
    background-repeat: no-repeat;
    border: 5px,solid,indigo;

    /*background-position(top, bottom,left,right,center)
    Establece la posición inicial de la imagen en su contenedor*/ 
    background-position: bottom center ;

    /*background-attachmente(scroll y fixed)
    Se utiliza para que la imagen se quede fija en su contenedor cuando unusuario se desplaza por la página*/
    background-attachment: fixed;
}
.fondo--imagen1{
    /*background: (image)(position) /(size)(repeat) (attachment) (color)*/
    height: 500px;
    width: 500px;
    background: url(../imagenes/problematuyopapi.jpg) center / contain no-repeat scroll rgba(148, 10, 247, 0.167);
}